/* font defs that i just stole from the corru site LOL */

@font-face {
    font-family: 'beech';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/Beech.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.beech { font-family: beech, sans-serif }

@font-face {
    font-family: 'barcode';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/LibreBarcode128-Regular.woff2") format('woff2'),
        url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/LibreBarcode128-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.barcode { font-family: barcode, sans-serif }

@font-face {
    font-family: 'barcodetext';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/LibreBarcode128Text-Regular.woff2") format('woff2'),
        url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/LibreBarcode128Text-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.barcodetext { font-family: barcodetext, sans-serif }

@font-face {
    font-family: 'spacemono';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/SpaceMono-Regular.woff2") format('woff2'),
        url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/SpaceMono-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'spacemono';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/SpaceMono-Bold.woff2") format('woff2'),
        url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/SpaceMono-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.spacemono { font-family: spacemono, sans-serif }

@font-face {
    font-family: 'bastard';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/newspaper.woff2") format('woff2'),
        url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/newspaper.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.bastard-font { font-family: bastard, sans-serif; font-size: 2.5em; line-height: 1.25em; }

@font-face {
    font-family: 'intrusive';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/flanfont.woff2") format('woff2'),
        url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/flanfont.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'corruicons';
    src:  url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/corruicons.eot?6mcqel");
    src:  url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/corruicons.eot?6mcqel#iefix") format('embedded-opentype'),
    url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/corruicons.ttf?6mcqel") format('truetype'),
    url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/corruicons.woff?6mcqel") format('woff'),
    url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/corruicons.svg?6mcqel#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'ruined';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/RuinedSerif.woff2") format('woff2'),
        url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/RuinedSerif.woff") format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ruined';
    src: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/RuinedSerifIta.woff2") format('woff2'),
        url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/fnt/RuinedSerifIta.woff") format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
.ruined-text {
    font-family: ruined;
    text-transform: uppercase;
    color: var(--bright-color);
    font-size: 2em;
}

/* FUCKINNNN ANIMS */

@keyframes SPIN {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

/* actual shit go */

:root { 
    --dark-color: black;
    --bright-color: white;
    --friend-color: #00ffff;
    --obesk-color: #ff00ff;
    --neutral-color: #ffff00;
    --bastard-color: #ff0066;
    --fundfriend-color: #00ff66;

    --bigFont: 20px;
    --regularFont: 16px;
    --unitlessHeight: 1080px;

    --contentDialogueOffset: -12.5vw;
    
    font-feature-settings: "liga" 0;
    font-size: var(--regularFont);
    
    --custom-message-margin-left-content-cozy: 100px !important;
    --custom-message-spacing-vertical-container-cozy: 1.0rem !important;
}

.messagesWrapper__36d07, .form_f75fb0 {
    background-color: var(--dark-color);
}

.chatGradient__36d07 {
    display: none;
}

.header_c19a55, .channelTextArea_f75fb0,
.statusText_ab8609,
.usernameAndPronounsRow__26b1f,
.pronouns__26b1f,
.descriptionClamp_f5f93a .markup__75297 div,
.menu_c1e9c4  {
    font-family: "spacemono", monospace !important;
}

.visualMediaItemContainer_f4758a, .oneByOneGrid_f4758a, .mosaicItemMediaMosaic__6c706 {
    border-radius: 0px !important;
}

.guildBadgeAndName_f37cb1 h2 {
    color: var(--dark-color);
    font-family: barcodetext;   
    font-size: 32px;
    font-weight: normal;
}

.container_f37cb1 {
    background-color: var(--neutral-color);
}

.headerContent_f37cb1.primaryInfo_f37cb1 span .inviteButton_f37cb1 svg path {
    color: var(--dark-color) !important;
    fill: var(--dark-color) !important;
}

.icon__2ea32 {
    color: var(--friend-color) !important;
    fill: var(--friend-color) !important;
}

.scroller__629e4.thin_d125d2, .scroller__629e4.thin_d125d2 .content_d125d2 {
    background-color: var(--dark-color);
    color: var(--bright-color) !important;
}

.containerDefault_c69b6d, .name__2ea32.overflow_b0dfc2 {
    color: var(--bright-color) !important;
}

.unread__2ea32.unreadImportant__2ea32 {
    background-color: var(--bright-color) !important;
}

.outer_c0bea0 {
    background-color: var(--dark-color);
    border-radius: 0px !important;
    border-width: 1px;
    border-color: var(--neutral-color);
    border-style: solid;
}

.banner__68edb {
    border-radius: 0px !important;
}

.menu_c1e9c4 {
    border: 1px dashed var(--color, var(--bright-color));
    border-radius: 0px !important;
    background-color: var(--dark-color);
}

.popover_c97e55 {
    border: 1px dashed var(--color, var(--bright-color));
    border-radius: 0px !important;
    background-color: var(--dark-color);
}

.banner__68edb::before {
    border-color: var(--neutral-color);
}

.profileHeader__9c3be, .profileBody__9c3be {
    background-color: var(--dark-color) !important;
}

.usernameAndPronounsRow__26b1f, .userTagUsername__26b1f, .pronouns__26b1f {
    color: var(--neutral-color) !important;
}

.descriptionClamp_f5f93a .markup__75297 div, .profileBody__9c3be .markup__75297 .defaultColor__4bd52 {
    color: var(--obesk-color) !important;
}

.descriptionClamp_f5f93a .markup__75297 div:before, .profileBody__9c3be .markup__75297 .defaultColor__4bd52:before {
    content: '::INHERITED CONTEXT::';
    color: var(--neutral-color) !important;
    display: block;
}

.listItem__650eb {
    pointer-events: all;
}

.tutorialContainer__1f388 .listItem__650eb .listItemWrapper__91816 {
    width: 80px;
    height: 80px;
    background-image: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/img/overlay.gif");
    border-radius: 100%;
    animation: SPIN 20s linear infinite;
    animation-play-state: paused;
    image-rendering: pixelated;
}

.tutorialContainer__1f388 .listItem__650eb .listItemWrapper__91816::after {
    content: "";
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-image: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/img/mindspikelogo.gif");
    background-size: contain;
    background-position: center;
    transform-origin: center;
    animation: SPIN 40s linear infinite;
    animation-play-state: paused;
    pointer-events: none;
    image-rendering: pixelated;
}

.tutorialContainer__1f388 .listItem__650eb .listItemWrapper__91816.selected__91816::after {
    background-image: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/img/mindspikelogoactive.gif");
    z-index: 5;
    image-rendering: pixelated;
}

.tutorialContainer__1f388 .listItem__650eb .listItemWrapper__91816:hover {
    animation-play-state: running;
}

.tutorialContainer__1f388 .listItem__650eb .listItemWrapper__91816 .wrapper_cc5dd2,
.tutorialContainer__1f388 .listItem__650eb .listItemWrapper__91816 .wrapper_cc5dd2 .svg_cc5dd2,
.tutorialContainer__1f388 .listItem__650eb .listItemWrapper__91816 .wrapper_cc5dd2 .svg_cc5dd2 defs path {
    opacity: 0;
    pointer-events: all;
    width: 80px !important;
    height: 80px !important;
}

.tutorialContainer__1f388 .listItem__650eb .listItemWrapper__91816 .wrapper_cc5dd2 .svg_cc5dd2 {
    transform: translate(4px, 4px);
}

.stack_dbd263.scroller_ef3116 {
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(0, 0, 0) 25%);
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.guilds__5e434  {
    background-color: black;
}

.bar_c38106 {
    background-color: black;
}

.stack_dbd263.scroller_ef3116::after {
    top: -5vh;
    content: "";
    position: absolute;
    top: -15vh;
    left: -15vw;
    height: 30vh;
    width: 30vw;
    background: url("https://raw.githubusercontent.com/jelleejamm/corru.theme/refs/heads/main/assets/img/overlay.gif");
    animation: SPIN 20s linear infinite;
    animation-play-state: running;
    transform-origin: center;
    animation-direction: reverse;
    z-index: -2;
    border-radius: 100%;
    image-rendering: pixelated;
}

.dotSpacer__26b1f {
    background-color: var(--neutral-color);
}

.usernameAndPronounsRow__26b1f::before {
    content: "::";
}

.outer_ab8609::before, .outer_ab8609::after {
    display: none;
}

.outer_ab8609 {
    border-radius: 0px !important;
    border: 0px;
    background-color: var(--dark-color);
}

.inner_ab8609 {
    border: 1px dashed var(--color, var(--bright-color));
    background-color: var(--dark-color);
}

.displayName__26b1f {
    font-family: barcodetext;
    font-size: 32px;
    font-weight: normal;
    color: var(--neutral-color);
    text-transform: uppercase;
}

.displayName__26b1f::before {
    content: "!!__";
}

.displayName__26b1f::after {
    content: "__!!";
}

.channelTextArea_f75fb0 {
    border-color: var(--bright-color) !important;
    border-style: double;
    border-width: 6px;
    border-radius: 0px;
}

.scrollableContainer__74017 {
    background-color: var(--dark-color);
}

.scrollableContainer__74017 svg {
    color: var(--bright-color) !important;
    fill: var(--bright-color) !important;
}

.spriteContainer__04eed .spriteColored__04eed, .spriteContainer__04eed .spriteGreyscale__04eed {
    filter: brightness(100);
}

.messageContent_c19a55 {
    font-family: "spacemono", monospace !important;
    transition: transform 400ms ease-in-out;
    letter-spacing: 0.25px;
}

.avatar_c19a55 {
    border-radius: 100%;
    min-width: 58px;
    min-height: 58px;
    border-color: var(--bright-color);
    border-style: double;
    border-width: 5px;
    isolation: isolate;
}

.avatarDecoration_c19a55 {
    display: none;
}

.groupStart__5126c {
    min-width: 500px !important;
}

.container_b7e1cb, .contents_c19a55 {
    background: var(--dark-color) !important;
    border-width: 0.16rem !important;
    border-style: solid;
    border-color: var(--bright-color) !important;
    border-radius: 0 !important;
    padding: 20px;
}

li[data-is-self="true"] .container_b7e1cb, li[data-is-self="true"] .contents_c19a55, li[data-is-self="true"] .username_c19a55 {
    background: var(--bright-color) !important;
    color: var(--dark-color) !important;
}

li[data-is-self="true"] .markup__75297.messageContent_c19a55 {
    font-family: barcodetext !important;
    color: var(--dark-color) !important;
    font-size: 200% !important;
    line-height: 150% !important;
    text-align: center !important;
    text-transform: uppercase;
}


.contents_c19a55:has(+ .container_b7e1cb:not(:empty)) { /* the way css works is so fucking strange why does this exist */
    border-bottom-width: 0px !important;
    padding-bottom: 5px;
}

.contents_c19a55 + .container_b7e1cb { /* this too */
    border-top-width: 0px !important;
    padding-top: 0px;
}

li[data-is-self="true"] .container_b7e1cb {
    place-items: center !important;
    justify-content: center;
    text-align: center !important;
}

li[data-is-self="true"] .cozy_c19a55 .messageContent_c19a55 {
    padding-left: 0px !important;
    margin-left: 0px !important;
}


rect[fill="#ffc04e"], .vc-platform-indicator svg[fill="#ffc04e"] {
    fill: var(--neutral-color) !important;
}

rect[fill="#45a366"], .vc-platform-indicator svg[fill="#45a366"] {
    fill: var(--friend-color) !important;
}

rect[fill="#da3e44"], .vc-platform-indicator svg[fill="#da3e44"] {
    fill: var(--obesk-color) !important;
}

.cozy_c19a55 .messageContent_c19a55 {
    padding-inline-start: 120px;
}

.header_c19a55 {
    padding-inline-start: 20px;
}

/*

this is for reference

.theme-midnight {
    --ansi-black: var(--black);
    --ansi-blue: var(--blue-new-53);
    --ansi-bright-black: var(--neutral-40);
    --ansi-bright-blue: var(--illo-blue-40);
    --ansi-bright-cyan: var(--teal-new-41);
    --ansi-bright-green: var(--illo-green-60);
    --ansi-bright-magenta: var(--illo-pink-40);
    --ansi-bright-red: var(--red-new-37);
    --ansi-bright-white: var(--white);
    --ansi-bright-yellow: var(--illo-yellow-70);
    --ansi-cyan: var(--teal-new-53);
    --ansi-green: var(--green-new-52);
    --ansi-magenta: var(--pink-63);
    --ansi-red: var(--red-new-50);
    --ansi-white: var(--neutral-20);
    --ansi-yellow: var(--yellow-new-68);
    --app-frame-background: var(--neutral-100);
    --app-frame-border: hsl(var(--opacity-20-hsl)/0.2);
    --app-message-embed-secondary-text: hsl(var(--white-hsl)/0.7);
    --background-accent: var(--plum-17);
    --background-base-low: var(--neutral-95);
    --background-base-lower: var(--neutral-97);
    --background-base-lowest: var(--neutral-100);
    --background-brand: var(--blurple-50);
    --background-code: hsl(var(--opacity-blurple-8-hsl)/0.0784313725490196);
    --background-code-addition: hsl(var(--opacity-green-12-hsl)/0.12156862745098039);
    --background-code-deletion: hsl(var(--opacity-red-12-hsl)/0.12156862745098039);
    --background-feedback-critical: hsl(var(--opacity-red-8-hsl)/0.0784313725490196);
    --background-feedback-info: hsl(var(--opacity-blue-8-hsl)/0.0784313725490196);
    --background-feedback-notification: var(--red-new-46);
    --background-feedback-positive: hsl(var(--opacity-green-8-hsl)/0.0784313725490196);
    --background-feedback-warning: hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196);
    --background-mod-muted: hsl(var(--opacity-8-hsl)/0.0784313725490196);
    --background-mod-normal: hsl(var(--opacity-20-hsl)/0.2);
    --background-mod-strong: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --background-mod-subtle: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --background-scrim: hsl(var(--opacity-black-72-hsl)/0.7215686274509804);
    --background-scrim-lightbox: hsl(var(--opacity-black-92-hsl)/0.9215686274509803);
    --background-secondary-alt: var(--plum-17);
    --background-surface-high: var(--neutral-91);
    --background-surface-higher: var(--neutral-87);
    --background-surface-highest: var(--neutral-83);
    --background-tile-gradient-pink-end: hsl(var(--illo-pink-70-hsl)/0.3);
    --background-tile-gradient-pink-start: hsl(var(--illo-pink-50-hsl)/0.3);
    --background-voice-muted: hsl(var(--opacity-red-12-hsl)/0.12156862745098039);
    --badge-background-brand: var(--blurple-50);
    --badge-background-default: hsl(var(--opacity-20-hsl)/0.2);
    --badge-common-background: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --badge-common-border: var(--neutral-35);
    --badge-common-text: var(--neutral-15);
    --badge-epic-background: hsl(var(--illo-purple-40-hsl)/0.24);
    --badge-epic-border-gradient-end: var(--illo-purple-40);
    --badge-epic-border-gradient-start: var(--illo-pink-40);
    --badge-epic-text: var(--illo-purple-30);
    --badge-expressive-background-default: var(--neutral-1);
    --badge-expressive-text-default: var(--neutral-71);
    --badge-mythic-background: hsl(var(--illo-orange-40-hsl)/0.24);
    --badge-mythic-border-gradient-end: var(--illo-orange-40);
    --badge-mythic-border-gradient-start: var(--illo-yellow-40);
    --badge-mythic-text: var(--illo-orange-30);
    --badge-notification-background: var(--red-new-46);
    --badge-rare-background: hsl(var(--illo-blue-40-hsl)/0.24);
    --badge-rare-border-gradient-end: var(--illo-blue-50);
    --badge-rare-border-gradient-start: var(--illo-blue-40);
    --badge-rare-text: var(--illo-blue-30);
    --badge-text-brand: var(--neutral-1);
    --badge-text-default: var(--neutral-8);
    --bg-surface-raised: var(--plum-23);
    --border-feedback-critical: var(--red-new-34);
    --border-feedback-info: var(--blue-new-37);
    --border-feedback-positive: var(--green-new-37);
    --border-feedback-warning: var(--yellow-new-57);
    --border-focus: var(--blue-new-30);
    --border-muted: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --border-normal: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --border-strong: hsl(var(--opacity-44-hsl)/0.4392156862745098);
    --border-subtle: hsl(var(--opacity-20-hsl)/0.2);
    --border-voice-muted: hsl(var(--opacity-red-12-hsl)/0.12156862745098039);
    --button-danger-background-disabled: var(--red-new-50);
    --button-outline-brand-background-hover: var(--brand-500);
    --button-outline-brand-border-active: var(--brand-560);
    --button-outline-primary-text: var(--white);
    --card-background-default: var(--neutral-91);
    --card-border-default: hsl(var(--opacity-20-hsl)/0.2);
    --card-primary-pressed-bg: var(--plum-25);
    --card-secondary-bg: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --card-secondary-pressed-bg: var(--plum-26);
    --channel-background-default: var(--neutral-97);
    --channel-icon: var(--neutral-37);
    --channel-text-area-placeholder: var(--plum-11);
    --channels-default: var(--neutral-37);
    --channeltextarea-background: var(--plum-23);
    --chart-brand: var(--blurple-50);
    --chart-categorical-1: var(--blurple-50);
    --chart-categorical-10: var(--yellow-new-70);
    --chart-categorical-2: var(--illo-orange-30);
    --chart-categorical-3: var(--illo-purple-40);
    --chart-categorical-4: var(--teal-new-31);
    --chart-categorical-5: var(--green-new-30);
    --chart-categorical-6: var(--pink-58);
    --chart-categorical-7: var(--yellow-new-32);
    --chart-categorical-8: var(--red-new-45);
    --chart-categorical-9: var(--blue-new-70);
    --chart-mono-1: var(--blurple-15);
    --chart-mono-2: var(--blurple-30);
    --chart-mono-3: var(--blurple-50);
    --chart-mono-4: var(--blurple-63);
    --chart-mono-5: var(--blurple-75);
    --chart-mono-6: var(--blurple-85);
    --chart-mono-7: var(--blurple-95);
    --chart-mono-text-1: var(--neutral-85);
    --chart-mono-text-2: var(--neutral-100);
    --chart-mono-text-3: var(--neutral-1);
    --chart-mono-text-4: var(--neutral-1);
    --chart-mono-text-5: var(--neutral-4);
    --chart-mono-text-6: var(--neutral-13);
    --chart-mono-text-7: var(--neutral-18);
    --chart-negative: var(--red-new-50);
    --chart-neutral: var(--neutral-29);
    --chart-positive: var(--green-new-30);
    --chat-background: var(--black);
    --chat-background-default: var(--neutral-91);
    --chat-border: var(--plum-20);
    --chat-text-muted: var(--neutral-38);
    --checkbox-background-active: var(--blurple-65);
    --checkbox-background-default: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
    --checkbox-background-hover: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
    --checkbox-background-selected-default: var(--blurple-50);
    --checkbox-background-selected-hover: var(--blurple-60);
    --checkbox-border-active: hsl(var(--opacity-20-hsl)/0.2);
    --checkbox-border-default: hsl(var(--opacity-64-hsl)/0.6392156862745098);
    --checkbox-border-hover: hsl(var(--opacity-80-hsl)/0.8);
    --checkbox-border-selected-default: hsl(var(--opacity-20-hsl)/0.2);
    --checkbox-border-selected-hover: hsl(var(--opacity-20-hsl)/0.2);
    --checkbox-icon-active: var(--neutral-1);
    --chip-blurple-dark-background: var(--blurple-70);
    --chip-blurple-dark-text: var(--blurple-1);
    --chip-blurple-light-background: var(--blurple-20);
    --chip-blurple-light-text: var(--blurple-91);
    --chip-blurple-medium-background: var(--blurple-40);
    --chip-blurple-medium-text: var(--blurple-100);
    --chip-gray-dark-background: var(--neutral-75);
    --chip-gray-dark-text: var(--neutral-6);
    --chip-gray-light-background: var(--neutral-10);
    --chip-gray-light-text: var(--neutral-68);
    --chip-gray-medium-background: var(--neutral-40);
    --chip-gray-medium-text: var(--neutral-1);
    --chip-green-dark-background: var(--green-new-70);
    --chip-green-dark-text: var(--green-new-1);
    --chip-green-light-background: var(--green-new-20);
    --chip-green-light-text: var(--green-new-91);
    --chip-green-medium-background: var(--green-new-45);
    --chip-green-medium-text: var(--green-new-96);
    --chip-orange-dark-background: var(--orange-new-70);
    --chip-orange-dark-text: var(--orange-new-1);
    --chip-orange-light-background: var(--orange-new-20);
    --chip-orange-light-text: var(--orange-new-93);
    --chip-orange-medium-background: var(--orange-new-40);
    --chip-orange-medium-text: var(--orange-new-100);
    --chip-pink-dark-background: var(--illo-pink-60);
    --chip-pink-dark-text: var(--neutral-1);
    --chip-pink-light-background: var(--illo-pink-20);
    --chip-pink-light-text: var(--neutral-73);
    --chip-pink-medium-background: var(--illo-pink-40);
    --chip-pink-medium-text: var(--neutral-100);
    --chip-purple-dark-background: var(--illo-purple-60);
    --chip-purple-dark-text: var(--neutral-10);
    --chip-purple-light-background: var(--illo-purple-20);
    --chip-purple-light-text: var(--neutral-75);
    --chip-purple-medium-background: var(--illo-purple-40);
    --chip-purple-medium-text: var(--neutral-100);
    --chip-red-dark-background: var(--red-new-70);
    --chip-red-dark-text: var(--red-new-1);
    --chip-red-light-background: var(--red-new-20);
    --chip-red-light-text: var(--red-new-95);
    --chip-red-medium-background: var(--red-new-45);
    --chip-red-medium-text: var(--red-new-100);
    --chip-yellow-dark-background: var(--yellow-new-70);
    --chip-yellow-dark-text: var(--yellow-new-1);
    --chip-yellow-light-background: var(--yellow-new-20);
    --chip-yellow-light-text: var(--yellow-new-87);
    --chip-yellow-medium-background: var(--yellow-new-45);
    --chip-yellow-medium-text: var(--yellow-new-80);
    --collectibles-tab-gradient-center: var(--illo-pink-40);
    --collectibles-tab-gradient-inner: hsl(var(--illo-pink-30-hsl)/0.5);
    --collectibles-tab-gradient-outer: hsl(var(--illo-pink-30-hsl)/0);
    --content-inventory-media-seekbar-container: hsl(var(--plum-6-hsl)/0.24);
    --content-inventory-overlay-text-primary: hsl(var(--white-hsl)/0.85);
    --content-inventory-overlay-text-secondary: hsl(var(--white-hsl)/0.7);
    --context-menu-backdrop-background: hsl(var(--black-hsl)/0.7);
    --control-brand-foreground: var(--brand-360);
    --control-brand-foreground-new: var(--brand-360);
    --control-connected-background-active: var(--green-new-65);
    --control-connected-background-default: var(--green-new-50);
    --control-connected-background-hover: var(--green-new-60);
    --control-connected-border-active: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-connected-border-default: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-connected-border-hover: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-connected-icon-active: var(--neutral-1);
    --control-connected-icon-default: var(--neutral-1);
    --control-connected-icon-hover: var(--neutral-1);
    --control-connected-text-active: var(--neutral-1);
    --control-connected-text-default: var(--neutral-1);
    --control-connected-text-hover: var(--neutral-1);
    --control-critical-primary-background-active: var(--red-new-65);
    --control-critical-primary-background-default: var(--red-new-50);
    --control-critical-primary-background-hover: var(--red-new-60);
    --control-critical-primary-border-active: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-critical-primary-border-default: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-critical-primary-border-hover: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-critical-primary-icon-active: var(--neutral-1);
    --control-critical-primary-icon-default: var(--neutral-1);
    --control-critical-primary-icon-hover: var(--neutral-1);
    --control-critical-primary-text-active: var(--neutral-1);
    --control-critical-primary-text-default: var(--neutral-1);
    --control-critical-primary-text-hover: var(--neutral-1);
    --control-critical-secondary-background-active: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --control-critical-secondary-background-default: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --control-critical-secondary-background-hover: hsl(var(--opacity-20-hsl)/0.2);
    --control-critical-secondary-border-active: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-critical-secondary-border-default: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-critical-secondary-border-hover: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-critical-secondary-icon-active: var(--red-new-34);
    --control-critical-secondary-icon-default: var(--red-new-34);
    --control-critical-secondary-icon-hover: var(--red-new-34);
    --control-critical-secondary-text-active: var(--red-new-34);
    --control-critical-secondary-text-default: var(--red-new-34);
    --control-critical-secondary-text-hover: var(--red-new-34);
    --control-expressive-background-active: var(--neutral-5);
    --control-expressive-background-default: var(--neutral-1);
    --control-expressive-background-hover: var(--neutral-1);
    --control-expressive-border-active: hsl(var(--opacity-20-hsl)/0.2);
    --control-expressive-border-default: hsl(var(--opacity-20-hsl)/0.2);
    --control-expressive-border-hover: hsl(var(--opacity-20-hsl)/0.2);
    --control-expressive-icon-active: var(--neutral-100);
    --control-expressive-icon-default: var(--neutral-100);
    --control-expressive-icon-hover: var(--neutral-100);
    --control-expressive-text-active: var(--neutral-100);
    --control-expressive-text-default: var(--neutral-100);
    --control-expressive-text-hover: var(--neutral-100);
    --control-icon-only-background-active: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --control-icon-only-background-hover: hsl(var(--opacity-20-hsl)/0.2);
    --control-icon-only-border-active: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-icon-only-border-hover: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-icon-only-icon-active: var(--neutral-8);
    --control-icon-only-icon-default: var(--neutral-27);
    --control-icon-only-icon-hover: var(--neutral-8);
    --control-overlay-primary-background-active: var(--neutral-17);
    --control-overlay-primary-background-default: var(--neutral-1);
    --control-overlay-primary-background-hover: var(--neutral-9);
    --control-overlay-primary-border-active: hsl(var(--opacity-20-hsl)/0.2);
    --control-overlay-primary-border-default: hsl(var(--opacity-20-hsl)/0.2);
    --control-overlay-primary-border-hover: hsl(var(--opacity-20-hsl)/0.2);
    --control-overlay-primary-icon-active: var(--neutral-100);
    --control-overlay-primary-icon-default: var(--neutral-100);
    --control-overlay-primary-icon-hover: var(--neutral-100);
    --control-overlay-primary-text-active: var(--neutral-100);
    --control-overlay-primary-text-default: var(--neutral-100);
    --control-overlay-primary-text-hover: var(--neutral-100);
    --control-overlay-secondary-background-active: hsl(var(--opacity-black-48-hsl)/0.47843137254901963);
    --control-overlay-secondary-background-default: hsl(var(--opacity-black-52-hsl)/0.5215686274509804);
    --control-overlay-secondary-background-hover: hsl(var(--opacity-black-64-hsl)/0.6392156862745098);
    --control-overlay-secondary-border-active: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-overlay-secondary-border-default: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-overlay-secondary-border-hover: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-overlay-secondary-icon-active: var(--neutral-1);
    --control-overlay-secondary-icon-default: var(--neutral-1);
    --control-overlay-secondary-icon-hover: var(--neutral-1);
    --control-overlay-secondary-text-active: var(--neutral-1);
    --control-overlay-secondary-text-default: var(--neutral-1);
    --control-overlay-secondary-text-hover: var(--neutral-1);
    --control-primary-background-active: var(--blurple-65);
    --control-primary-background-default: var(--blurple-50);
    --control-primary-background-hover: var(--blurple-60);
    --control-primary-border-active: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-primary-border-default: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-primary-border-hover: hsl(var(--opacity-white-8-hsl)/0.0784313725490196);
    --control-primary-icon-active: var(--neutral-1);
    --control-primary-icon-default: var(--neutral-1);
    --control-primary-icon-hover: var(--neutral-1);
    --control-primary-text-active: var(--neutral-1);
    --control-primary-text-default: var(--neutral-1);
    --control-primary-text-hover: var(--neutral-1);
    --control-secondary-background-active: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --control-secondary-background-default: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --control-secondary-background-hover: hsl(var(--opacity-20-hsl)/0.2);
    --control-secondary-border-active: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-secondary-border-default: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-secondary-border-hover: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --control-secondary-icon-active: var(--neutral-8);
    --control-secondary-icon-default: var(--neutral-8);
    --control-secondary-icon-hover: var(--neutral-8);
    --control-secondary-text-active: var(--neutral-8);
    --control-secondary-text-default: var(--neutral-8);
    --control-secondary-text-hover: var(--neutral-8);
    --creator-revenue-icon-gradient-end: var(--teal-430);
    --creator-revenue-icon-gradient-start: var(--teal-360);
    --creator-revenue-info-box-background: hsl(var(--teal-430-hsl)/0.1);
    --creator-revenue-info-box-border: var(--teal-400);
    --creator-revenue-locked-channel-icon: var(--teal-345);
    --creator-revenue-progress-bar: var(--teal-400);
    --datepicker-range-background-default: hsl(var(--opacity-blurple-40-hsl)/0.4);
    --datepicker-range-background-hover: hsl(var(--opacity-blurple-60-hsl)/0.6);
    --embed-background: var(--plum-23);
    --embed-background-alternate: var(--plum-23);
    --experimental-avatar-embed-bg: hsl(var(--opacity-black-52-hsl)/0.5215686274509804);
    --expressive-gradient-blue-end: hsl(var(--illo-blue-60-hsl)/0.25);
    --expressive-gradient-blue-start: hsl(var(--illo-blue-40-hsl)/0.25);
    --expressive-gradient-green-end: hsl(var(--illo-green-70-hsl)/0.25);
    --expressive-gradient-green-start: hsl(var(--illo-green-50-hsl)/0.25);
    --expressive-gradient-nitro-green-end: hsl(var(--illo-nitro-blue-hsl)/0.3);
    --expressive-gradient-nitro-green-start: hsl(var(--illo-green-50-hsl)/0.3);
    --expressive-gradient-nitro-pink-end: hsl(var(--illo-nitro-blue-hsl)/0.3);
    --expressive-gradient-nitro-pink-start: hsl(var(--illo-pink-60-hsl)/0.3);
    --expressive-gradient-pink-end: hsl(var(--illo-pink-70-hsl)/0.25);
    --expressive-gradient-pink-start: hsl(var(--illo-pink-50-hsl)/0.25);
    --expressive-gradient-purple-end: hsl(var(--illo-purple-60-hsl)/0.25);
    --expressive-gradient-purple-start: hsl(var(--illo-purple-40-hsl)/0.25);
    --expressive-gradient-tenure-badge-bronze-end: hsl(var(--illo-orange-70-hsl)/0.3);
    --expressive-gradient-tenure-badge-bronze-start: hsl(var(--illo-orange-30-hsl)/0.3);
    --expressive-gradient-tenure-badge-diamond-end: hsl(var(--illo-purple-50-hsl)/0.3);
    --expressive-gradient-tenure-badge-diamond-start: hsl(var(--illo-purple-40-hsl)/0.3);
    --expressive-gradient-tenure-badge-emerald-end: hsl(var(--illo-green-60-hsl)/0.3);
    --expressive-gradient-tenure-badge-emerald-start: hsl(var(--illo-green-40-hsl)/0.3);
    --expressive-gradient-tenure-badge-gold-end: hsl(var(--yellow-new-41-hsl)/0.3);
    --expressive-gradient-tenure-badge-gold-start: hsl(var(--illo-yellow-50-hsl)/0.3);
    --expressive-gradient-tenure-badge-opal-end: hsl(var(--blue-new-50-hsl)/0.3);
    --expressive-gradient-tenure-badge-opal-start: hsl(var(--teal-new-30-hsl)/0.3);
    --expressive-gradient-tenure-badge-platinum-end: hsl(var(--teal-new-60-hsl)/0.3);
    --expressive-gradient-tenure-badge-platinum-start: hsl(var(--teal-new-20-hsl)/0.3);
    --expressive-gradient-tenure-badge-ruby-end: hsl(var(--red-new-80-hsl)/0.3);
    --expressive-gradient-tenure-badge-ruby-start: hsl(var(--red-new-44-hsl)/0.3);
    --expressive-gradient-tenure-badge-silver-end: hsl(var(--neutral-58-hsl)/0.3);
    --expressive-gradient-tenure-badge-silver-start: hsl(var(--neutral-12-hsl)/0.3);
    --gradient-progress-pill-background: var(--neutral-63);
    --guild-profile-banner-background-default: var(--neutral-100);
    --home-background: var(--plum-18);
    --icon-default: var(--neutral-10);
    --icon-feedback-critical: var(--red-new-34);
    --icon-feedback-info: var(--blue-new-37);
    --icon-feedback-notification: var(--red-new-46);
    --icon-feedback-positive: var(--green-new-37);
    --icon-feedback-warning: var(--yellow-new-57);
    --icon-invert: var(--neutral-71);
    --icon-link: var(--blue-new-42);
    --icon-muted: var(--neutral-33);
    --icon-overlay-dark: var(--neutral-71);
    --icon-overlay-light: var(--neutral-8);
    --icon-status-dnd: var(--red-new-45);
    --icon-status-idle: var(--yellow-new-22);
    --icon-status-offline: var(--neutral-27);
    --icon-status-online: var(--green-new-40);
    --icon-strong: var(--neutral-8);
    --icon-subtle: var(--neutral-27);
    --icon-transparent: hsl(var(--transparent-hsl)/0);
    --icon-voice-connected: var(--green-new-40);
    --icon-voice-disconnected: var(--red-new-34);
    --icon-voice-muted: var(--red-new-46);
    --icon-voice-speaking: var(--green-new-40);
    --inlinenotice-border-critical: hsl(var(--opacity-red-60-hsl)/0.6);
    --inlinenotice-border-info: hsl(var(--opacity-blue-60-hsl)/0.6);
    --inlinenotice-border-positive: hsl(var(--opacity-green-60-hsl)/0.6);
    --inlinenotice-border-warning: hsl(var(--opacity-yellow-72-hsl)/0.7215686274509804);
    --input-background-default: hsl(var(--opacity-black-12-hsl)/0.12156862745098039);
    --input-background-error-default: hsl(var(--opacity-red-4-hsl)/0.0392156862745098);
    --input-border-active: var(--blurple-50);
    --input-border-default: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --input-border-error-default: var(--red-new-34);
    --input-border-hover: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --input-border-readonly: hsl(var(--opacity-white-12-hsl)/0.12156862745098039);
    --input-icon-default: var(--neutral-27);
    --input-placeholder-text-default: var(--neutral-34);
    --input-text-default: var(--neutral-10);
    --input-text-error-default: var(--neutral-10);
    --interactive-accent-background-active: var(--blurple-65);
    --interactive-accent-background-default: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --interactive-accent-background-hover: var(--blurple-50);
    --interactive-accent-background-selected: var(--blurple-50);
    --interactive-background-active: hsl(var(--opacity-20-hsl)/0.2);
    --interactive-background-hover: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --interactive-background-selected: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --interactive-icon-active: var(--neutral-8);
    --interactive-icon-default: var(--neutral-27);
    --interactive-icon-hover: var(--neutral-8);
    --interactive-muted: var(--plum-13);
    --interactive-text-active: var(--neutral-8);
    --interactive-text-default: var(--neutral-27);
    --interactive-text-hover: var(--neutral-8);
    --logo-primary: var(--white);
    --mention-background: hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981);
    --mention-foreground: var(--blurple-26);
    --message-automod-background-default: hsl(var(--red-345-hsl)/0.08);
    --message-automod-background-hover: hsl(var(--red-400-hsl)/0.1);
    --message-background-hover: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --message-highlight-background-default: hsl(var(--opacity-blurple-16-hsl)/0.1607843137254902);
    --message-highlight-background-hover: hsl(var(--opacity-blurple-12-hsl)/0.12156862745098039);
    --message-mentioned-background-default: hsl(var(--opacity-yellow-8-hsl)/0.0784313725490196);
    --message-mentioned-background-hover: hsl(var(--opacity-yellow-4-hsl)/0.0392156862745098);
    --mobile-background-scrim-opaque: var(--plum-19);
    --mobile-expression-picker-background-default: var(--neutral-97);
    --mobile-guildbar-icon-default: var(--neutral-27);
    --mobile-searchbar-gradient-background: var(--neutral-100);
    --mobile-text-heading-primary: var(--neutral-8);
    --modal-background: var(--neutral-91);
    --modal-footer-background: var(--neutral-91);
    --navigator-header-tint: var(--white);
    --nitro-tab-gradient-center: var(--illo-pink-40);
    --nitro-tab-gradient-inner-ring: hsl(var(--illo-blue-40-hsl)/0.5);
    --nitro-tab-gradient-outer-ring: hsl(var(--illo-blue-40-hsl)/0);
    --notice-background-critical: var(--red-new-95);
    --notice-background-info: var(--blue-new-95);
    --notice-background-positive: var(--green-new-98);
    --notice-background-warning: var(--yellow-new-97);
    --notice-text-critical: var(--red-new-15);
    --notice-text-info: var(--blue-new-20);
    --notice-text-positive: var(--green-new-21);
    --notice-text-warning: var(--yellow-new-41);
    --overlay-backdrop-lightbox: hsl(var(--opacity-black-92-hsl)/0.9215686274509803);
    --panel-bg: var(--neutral-97);
    --polls-normal-image-background: var(--primary-660);
    --polls-victor-fill: hsl(var(--green-360-hsl)/0.2);
    --polls-voted-fill: hsl(var(--brand-500-hsl)/0.2);
    --premium-nitro-pink-text: var(--pink-55);
    --profile-gradient-note-background: hsl(var(--black-hsl)/0.3);
    --profile-gradient-overlay: hsl(var(--black-hsl)/0.6);
    --profile-gradient-overlay-synced-with-user-theme: hsl(var(--black-hsl)/0.8);
    --profile-gradient-role-pill-background: hsl(var(--primary-660-hsl)/0.5);
    --profile-gradient-role-pill-border: hsl(var(--white-hsl)/0.2);
    --profile-gradient-section-box: hsl(var(--black-hsl)/0.45);
    --progressbar-indicator-background: var(--blurple-50);
    --progressbar-track-background: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --radio-background-active: var(--blurple-65);
    --radio-background-default: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
    --radio-background-hover: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
    --radio-background-selected-default: var(--blurple-50);
    --radio-background-selected-hover: var(--blurple-60);
    --radio-border-active: hsl(var(--opacity-20-hsl)/0.2);
    --radio-border-default: hsl(var(--opacity-64-hsl)/0.6392156862745098);
    --radio-border-hover: hsl(var(--opacity-80-hsl)/0.8);
    --radio-border-selected-default: hsl(var(--opacity-20-hsl)/0.2);
    --radio-border-selected-hover: hsl(var(--opacity-20-hsl)/0.2);
    --radio-foreground-active: var(--blurple-50);
    --radio-foreground-default: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
    --radio-foreground-hover: hsl(var(--opacity-black-8-hsl)/0.0784313725490196);
    --radio-thumb-background-active: var(--neutral-1);
    --reaction-background-active: hsl(var(--opacity-24-hsl)/0.23921568627450981);
    --reaction-background-default: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --reaction-background-hover: hsl(var(--opacity-20-hsl)/0.2);
    --reaction-background-reacted-default: hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981);
    --reaction-background-reacted-hover: hsl(var(--opacity-blurple-24-hsl)/0.23921568627450981);
    --reaction-border-active: hsl(var(--opacity-44-hsl)/0.4392156862745098);
    --reaction-border-default: hsl(var(--opacity-20-hsl)/0.2);
    --reaction-border-hover: hsl(var(--opacity-16-hsl)/0.1607843137254902);
    --reaction-border-reacted-default: var(--blurple-50);
    --reaction-text-active: var(--neutral-8);
    --reaction-text-default: var(--neutral-27);
    --reaction-text-hover: var(--neutral-8);
    --reaction-text-reacted-default: var(--blurple-21);
    --redesign-button-premium-primary-pink-for-gradient: var(--premium-tier-2-pink-for-gradients);
    --redesign-button-premium-primary-pressed-background: hsl(var(--black-hsl)/0.1);
    --redesign-button-premium-primary-purple-for-gradient: var(--premium-tier-2-purple-for-gradients);
    --redesign-button-premium-primary-purple-for-gradient-2: var(--premium-tier-2-purple-for-gradients-2);
    --redesign-button-tertiary-background: hsl(var(--opacity-black-12-hsl)/0.12156862745098039);
    --redesign-button-tertiary-pressed-background: hsl(var(--plum-11-hsl)/0.2);
    --redesign-button-tertiary-pressed-text: var(--plum-6);
    --redesign-button-tertiary-text: var(--neutral-10);
    --scrollbar-auto-scrollbar-color-thumb: var(--neutral-47);
    --scrollbar-auto-scrollbar-color-track: var(--neutral-100);
    --scrollbar-auto-thumb: var(--neutral-46);
    --scrollbar-auto-track: hsl(var(--transparent-hsl)/0);
    --scrollbar-thin-thumb: var(--neutral-47);
    --scrollbar-thin-track: hsl(var(--black-hsl)/0);
    --slider-track-background: var(--neutral-63);
    --spine-default: var(--neutral-63);
    --spoiler-hidden-background: var(--neutral-46);
    --spoiler-hidden-background-hover: var(--neutral-37);
    --spoiler-revealed-background: hsl(var(--plum-11-hsl)/0.16);
    --standard-tab-gradient-center: var(--illo-blue-40);
    --standard-tab-gradient-inner-ring: hsl(var(--illo-blue-40-hsl)/0.5);
    --standard-tab-gradient-outer-ring: hsl(var(--illo-blue-40-hsl)/0);
    --status-danger: var(--red-400);
    --status-online: var(--green-360);
    --status-positive: var(--green-360);
    --status-positive-background: var(--green-430);
    --status-positive-text: var(--white);
    --status-speaking: var(--green-360);
    --status-warning: var(--yellow-300);
    --status-warning-background: var(--yellow-300);
    --status-warning-text: var(--black);
    --steam-review-text-mixed: var(--yellow-new-55);
    --steam-review-text-negative: var(--red-new-40);
    --steam-review-text-positive: var(--blue-new-43);
    --switch-background-active: var(--blurple-65);
    --switch-background-default: hsl(var(--opacity-black-12-hsl)/0.12156862745098039);
    --switch-background-hover: hsl(var(--opacity-black-12-hsl)/0.12156862745098039);
    --switch-background-selected-default: var(--blurple-50);
    --switch-background-selected-hover: var(--blurple-60);
    --switch-border-default: hsl(var(--opacity-20-hsl)/0.2);
    --switch-border-hover: hsl(var(--opacity-40-hsl)/0.4);
    --switch-border-selected-default: hsl(var(--opacity-20-hsl)/0.2);
    --switch-border-selected-hover: hsl(var(--opacity-20-hsl)/0.2);
    --switch-thumb-background-default: var(--neutral-1);
    --switch-thumb-background-selected-default: var(--neutral-1);
    --switch-thumb-icon-active: var(--blurple-50);
    --switch-thumb-icon-default: var(--neutral-71);
    --text-brand: var(--blurple-42);
    --text-code: var(--neutral-13);
    --text-code-addition: var(--green-new-29);
    --text-code-attribute: var(--blue-new-31);
    --text-code-builtin: var(--yellow-new-55);
    --text-code-bullet: var(--blue-new-31);
    --text-code-comment: var(--neutral-32);
    --text-code-decorator: var(--yellow-new-55);
    --text-code-deletion: var(--red-new-27);
    --text-code-error: var(--red-new-28);
    --text-code-escape: var(--pink-41);
    --text-code-keyword: var(--red-new-28);
    --text-code-link: var(--blue-new-31);
    --text-code-namespace: var(--blue-new-31);
    --text-code-number: var(--orange-new-29);
    --text-code-operator: var(--red-new-22);
    --text-code-property: var(--teal-new-31);
    --text-code-regexp: var(--green-new-31);
    --text-code-section: var(--red-new-28);
    --text-code-string: var(--green-new-31);
    --text-code-tag: var(--pink-41);
    --text-code-title: var(--blurple-30);
    --text-code-type: var(--pink-41);
    --text-code-variable: var(--neutral-13);
    --text-default: var(--neutral-10);
    --text-feedback-critical: var(--red-new-34);
    --text-feedback-info: var(--blue-new-37);
    --text-feedback-positive: var(--green-new-37);
    --text-feedback-warning: var(--yellow-new-57);
    --text-invert: var(--neutral-71);
    --text-link: var(--blue-new-42);
    --text-muted: var(--neutral-33);
    --text-overlay-dark: var(--neutral-71);
    --text-overlay-light: var(--neutral-8);
    --text-status-dnd: var(--red-new-45);
    --text-status-idle: var(--yellow-new-22);
    --text-status-offline: var(--neutral-27);
    --text-status-online: var(--green-new-40);
    --text-strong: var(--neutral-8);
    --text-subtle: var(--neutral-27);
    --text-voice-connected: var(--green-new-40);
    --text-voice-disconnected: var(--red-new-34);
    --text-voice-speaking: var(--green-new-40);
    --textbox-markdown-syntax: var(--plum-9);
    --thread-channel-spine: var(--plum-13);
    --user-profile-activity-toolbar-background: var(--neutral-83);
    --user-profile-background-hover: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --user-profile-border: hsl(var(--opacity-20-hsl)/0.2);
    --user-profile-note-background-focus: var(--neutral-100);
    --user-profile-overlay-background: var(--neutral-83);
    --user-profile-overlay-background-hover: hsl(var(--opacity-12-hsl)/0.12156862745098039);
    --user-profile-toolbar-background: var(--neutral-83);
    --user-profile-toolbar-border: hsl(var(--opacity-16-hsl)/0.1607843137254902)
} */