/**
 * @name        corru.theme.selfmsgright
 * @author      jelleejamm
 * @description moves your messages to the right! corru.theme (https://github.com/jelleejamm/corru.theme/) and the themeattributes plugin are required
 * @version     0.0.9999
 */

    li[data-is-self="true"] .cozyMessage__5126c:not(.isSystemMessage_c19a55) .container_b7e1cb {
        place-items: end !important;
        justify-content: right !important;
        text-align: right !important;
    }
    
    li[data-is-self="true"] .cozyMessage__5126c:not(.isSystemMessage_c19a55) .markup__75297.messageContent_c19a55 {
        text-align: right;
    }

    li[data-is-self="true"] .cozyMessage__5126c:not(.isSystemMessage_c19a55) .messageContent_c19a55 {
        padding-left: 0px !important;
        margin-left: 10px !important;
    }
    
    li[data-is-self="true"] .cozyMessage__5126c:not(.isSystemMessage_c19a55) {
        animation: messageinalt 0.4s ease-out;
    }

    li[data-is-self="true"] .message__5126c:has(.isSending_c19a55) {
        animation: none;
        transform: translateX(100vw);
    }
    
    li[data-is-self="true"] .groupStart__5126c.cozyMessage__5126c:not(.isSystemMessage_c19a55).message__5126c {
        padding-inline-start: 20px !important;
        padding-inline-end: 98px !important;
    }
    
    li[data-is-self="true"] .cozyMessage__5126c .contents_c19a55 .avatar_c19a55 {
        inset-inline-start: unset;
        inset-inline-end: var(--custom-message-margin-horizontal);
    }
    
    li[data-is-self="true"] .groupStart__5126c::before { /* > jellee: do the pfp replacey thing */
        inset-inline-start: unset !important;
        inset-inline-end: var(--custom-message-margin-horizontal) !important;
    }
    
    li[data-is-self="true"] .cozyMessage__5126c .contents_c19a55:has(.avatar_c19a55):before {
        content: "";
        display: block;
        inset-inline-start: unset;
        inset-inline-end: var(--custom-message-margin-horizontal);
        margin-top: calc(4px - var(--custom-message-spacing-vertical-container-cozy));
        overflow: hidden;
        position: absolute;
        z-index: -1 !important;
        right: 60px;
        top: 30px;
        height: 10px;
        width: 40px;
        border: 0.32rem double;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        border-top-left-radius: 0%;
        border-bottom-left-radius: 0%;
        border-color: var(--bright-color);
    }
    
    li[data-is-self="true"] .groupStart__5126c:has(.repliedMessage_c19a55) .contents_c19a55:has(.avatar_c19a55):before {
        top: 55px;
    }
    
    li[data-is-self="true"] .header_c19a55 {
        text-align: right;
    }
    
    li[data-is-self="true"] .repliedMessage_c19a55 {
        justify-content: right;
    }
    
    li[data-is-self="true"] .repliedMessageClickableSpine_c19a55 { /*todo fix this*/
        transform: scaleX(-1);
        inset-inline-start: calc(-76px);
        inset-inline-end: var(--custom-message-margin-horizontal);
        left: calc(100% + var(--custom-message-margin-horizontal) - 100px);
    }